.header {
  background: url(./slider-img-1.jpg) no-repeat center center;
  color: #ffff;
  padding: 90px 0px;
  text-align: center;
}

.w-40 {
  width: 40%!important;
  margin-top: 15px;
}

.search-control {
  padding: 8px 50px 8px 20px;
  border: 1px solid #dddd;
  border-radius: 5px !important;
}

.search-btn {
  position: relative;
  left: 10px;
  border-radius: 20px !important;
    padding: 8px 20px 8px 20px !important;
    background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%) !important;
    border: none;
}

.m-50 {
  margin-top: 50px;
}

.card {
  margin-bottom: 15px;
  box-shadow: -2px 3px 13px 3px rgb(199 187 187);
}

.card .py-2{
  text-align: center;
}

.card-body {
  text-align: center;
}

.card-body label {
  font-weight: 500;
  font-size: 14px;
}

.card img {
  width: 38% !important;
  margin-top: 20px;
}

.brand-icon {
  font-size: 20px;
}